html {
    scroll-behavior: smooth;
}

@import url('https://fonts.googleapis.com/css2?family=Sora:wght@500&display=swap');

body {
    font-family: 'Sora', sans-serif;
    margin: 0;
    --primary-color: #0F103F;
    --light-primary-color: #2F2F8A;

    --secondary-color: #3a3db3;
    --light-secondary-color: #778df8;

    --font1: white;
    --font2: black;

    --white-trans:rgba(255, 255, 255, 0.4);
    
    width: 100%;
    place-items: center;
    justify-content: center;

    
}
main {
    padding-top: 50px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background: linear-gradient(180deg, rgba(15,16,63,1) 20%, rgba(47,47,138,1) 100%);
    padding-bottom: 100px;
}
a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}


/*----------------------------------------------------*/
.welcome-card-container {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    height: 100%;
    padding-bottom: 100px;
}

.big-txt-container {
    display: grid;
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center;
    place-items: center;
    width: 80%;
    color: white;
    /* background-color: var(--primary-color); zakomentirano tako da se ne vidi rub?*/ 
    border-radius: 10px;
    /*box-shadow: 0 0 50px 10px var(--primary-color);*/
}

h1, h2 {
    text-align: center;
    margin: 1rem;
}

.header-img-container {
    display: grid;
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center;
    width: 80%;
}

#header-img {
    width: 100% ;
    border-radius: 50%;
    /*box-shadow: 0 0 50px 10px var(--primary-color);*/
}


/*----------------------------------------------------*/
.text-preview h3{
    display: grid;
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center;
    place-items: center;
    color: white;
    font-style: italic;
}


.preview-container {
    max-width: 80%;
    position: relative;
    margin: auto;
    width: 100%;
    place-items: center;
    height: 100%;
    background: linear-gradient(180deg, rgba(58,61,179,1) 0%, rgba(47,47,138,1) 100%);
    border-radius: 10px;
}

.text2 {
    color: #f2f2f2db;
    font-size: 20px;
    width: 100%;
    text-align: center;
    padding-top: 20px;
    text-transform: uppercase;
    font-style: italic;
    
}

.file-container {
    place-items: center;
    grid-template-columns: 1fr;
    height: inherit;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    height: inherit;
}

.file-container img {
    height: 250px;
}

.text {
    color: #f2f2f2;
    font-size: 15px;
    width: 100%;
    text-align: center;
    margin: 10px;
  }

.btn {
    background-color: var(--secondary-color);
    color: rgba(255, 255, 255, 0.898);
    border: none;
    border-radius: 20px;
    display: grid;
    flex-direction: row;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    box-shadow: 1px 1px 5px #0f103f7b;
    width: 7rem;
    margin: 0 auto;
    
}


.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }

  /* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 0px 15px 15px 0px;
}

.prev {
    left: 0;
    border-radius: 15px 0 0 15px;
}

  /* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    background-color: var(--primary-color);
}

/* Caption text */


  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }


/*
.preview-container {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
    height: 400px;
  }

.file-container {
    display: grid;
    place-items: center;
    grid-template-columns: 1fr;
    width: 200px;
    color: white;
}

.file-container img {
    width: 100%;
    
}*/

hr {
    background-color: #ffa230;
    border: none;
    content: "";
    height: 1px;
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
    transform-origin: center left;
    width: 8rem;
}

#homepage-welcome {
    font-family: "Montserrat", "Quicksand", sans-serif;
    letter-spacing: 0.2em;
}

#homepage-description {
    font-style: italic;
}

.to-signup-btn {
    background-color: #fff;
    border-radius: 290486px;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
    color: #9013fe;
    display: inline-block;
    font-size: 0.875rem;
    line-height: 1;
    padding: 1.25em 2em;
    text-shadow: none;
    transition-property: box-shadow, transform;
    user-select: none;
    vertical-align: top;
    white-space: nowrap;
    will-change: box-shadow, transform; 
    font-family: "Montserrat", "Quicksand", sans-serif;
    letter-spacing: 0.3em;
    text-transform: uppercase;
    white-space: nowrap;
    margin-top: 15px;
}

.to-signup-btn:hover {
    box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.2);
    transform: scale(1.02) translateY(-4px);
    color: #ffa230;
}

to-signup-btn:active {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
    transform: scale(0.98) translateY(-2px);
}

.btn:hover{
    box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.2);
    transform: scale(1.02) translateY(-4px);
}

ul {
    list-style-type: none;
    position: absolute;
  }

.gotopage {
    position: relative;
}
