@import url('https://fonts.googleapis.com/css2?family=Sora:wght@500&display=swap');

/*-----opcija 1(iz hp.css)---------*/
/* 
body {
    font-family: 'Sora', sans-serif;
    margin: 0;
    --primary-color: #0F103F;
    --light-primary-color: #2F2F8A;
    --secondary-color: #3a3db3;
    --light-secondary-color: #778df8;
    --white-trans:rgba(255, 255, 255, 0.4);
    --font1: white;
    --font2: black;

    width: 100%;
    place-items: center;
    justify-content: center;

}

main {
    padding-top: 50px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background: linear-gradient(180deg, rgba(15,16,63,1) 20%, rgba(47,47,138,1) 100%);
    padding-bottom: 100px;
    align-items: center;

}

a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
} */


/*-------------Opcija 2 (iz style.css)------------------*/

body {
    font-family: 'Sora', sans-serif;
    margin: 0;
    --primary-color: #0F103F;
    --light-primary-color: #2F2F8A;

    --secondary-color: #3a3db3;
    --light-secondary-color: #778df8;
    background-color: var(--primary-color);
    display: grid;
    height: 100vh;
    place-items: center;
    justify-content: center;
    background: linear-gradient(135deg, rgba(15,16,63,1) 59%, rgba(47,47,138,1) 100%);

}

a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}



/*--------------------------------------------------------*/


.card-profil-container {
    display: flex;
    align-self: center;
    margin: 0px;
    height:400px;
    width: 750px;
    background-color: white;
    border-radius: 1rem;
    opacity: 80%;
}

.userdata-img {
    height: 50px;
    width: 50px;
    padding: 1rem 1rem;

}
.heading-userdataicon {
    display: flex;
    flex-direction: row;
    align-items:center;
    align-self:flex-start;
    background-color: white;
    margin-bottom: 1rem;
    border-radius:1rem;
    opacity: 80%;
}
.userdata {
    display: flex;
    flex-direction:column;
    align-self: center;
    align-content: flex-start;
    background-color: black;
}
.name-surname{
    display: flex;
    background-color: white;
}

.user-photo {
    height: 90px;
    width: 90px;
    border-radius: 6rem ;
    display: flex;
    margin: 1rem 0.5rem;
}
.space {
    padding-left:0.5rem;
    padding-right: 0.5rem;
}
.space2 {
    padding-left: 1rem;
    padding-bottom: 1rem;
}

.name-surname {
    display: flex;
    flex-direction: column;
}
.list-of-subjects {
    padding-left: 1rem;
} 