@import url('https://fonts.googleapis.com/css2?family=Sora:wght@500&display=swap');

body {
    font-family: 'Sora', sans-serif;
    margin: 0;
    --primary-color: #0F103F;
    --light-primary-color: #2F2F8A;

    --secondary-color: #3a3db3;
    --light-secondary-color: #778df8;

    --font1: white;
    --font2: black;

    --white-trans:rgba(255, 255, 255, 0.4);
    
    width: 100%;
    place-items: center;
    justify-content: center;

    
}

main {
    padding-top: 50px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background: linear-gradient(180deg, rgba(15,16,63,1) 20%, rgba(47,47,138,1) 100%);
    padding-bottom: 100px;
}

a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}

/*--------------------------------------------------------*/

.upload-container {
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
}


#upload-form {
    display: grid;
    width: 30%;
    place-items: center;
    
}

#upload-form input {
    border: none;
    background-color: rgba(255, 255, 255, 0.552);
    padding: 0.5em;
    margin-bottom: 1em;
    border-radius: 20px;
    width: 100%;
}


.upload-btn {
    background-color: var(--secondary-color);
    color: rgba(255, 255, 255, 0.898);
    border: none;
    border-radius: 20px;
    display: grid;
    flex-direction: row;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    box-shadow: 1px 1px 5px #0f103f7b;
    width: 7rem;
    margin: 0 auto;
}


button:hover{
    box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.2);
    transform: scale(1.02) translateY(-4px);
}

input::placeholder {
    color: rgb(37, 36, 39);
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

input::file-selector-button {
    font-weight: bold;
    color: rgb(85, 49, 202);
    padding: 0.5em;
    border: thin solid grey;
    border-radius: 3px;
}

::file-selector-button:hover {
    background-color: rgb(85, 49, 202);
    color: aliceblue;
}

.img-container{
    display: grid;
    top:0;
    left:0;
    right:0;
    bottom: 10px;;
    margin:auto;
    justify-content: center;
    height: 180px;
    justify-content: center;
}

#upload-img{
    height: 80%;
}

#upload-file:hover, #description:hover, .log-container input:hover {
    border-color: transparent;
    box-shadow: 0 0 0 1px rgb(192, 82, 247);
  }

.usrimg-container {
    display: flex;
    top:0;
    left:0;
    right:0;
    bottom: 10px;;
    margin:auto;
    justify-content: center;
    height: 180px;
    justify-content: center;
  }
  