/*----------------------------------------------------*/
.welcome-card-container {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    height: 500px;
    padding-bottom: 10rem;
}

.big-txt-container {
    display: grid;
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center;
    place-items: center;
    width: 80%;
    color: white;
    /* background-color: var(--primary-color); zakomentirano tako da se ne vidi rub?*/ 
    border-radius: 10px;
    /*box-shadow: 0 0 50px 10px var(--primary-color);*/
}

h1, h2 {
    text-align: center;
    margin: 1rem;
}

.header-img-container {
    display: grid;
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center;
    width: 80%;
}

#header-img {
    width: 100% ;
    border-radius: 50%;
    /*box-shadow: 0 0 50px 10px var(--primary-color);*/
}


/*----------------------------------------------------*/
.text-preview h3{
    display: grid;
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center;
    place-items: center;
    color: white;
    font-style: italic;
}

.preview-container {
    max-width: 1000px;
  position: relative;
  margin: auto;
  
}

.file-container {
    display: none;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }

  /* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 0px 15px 15px 0px;
}

.prev {
    left: 0;
    border-radius: 15px 0 0 15px;
}

  /* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    background-color: var(--primary-color);
}

/* Caption text */
.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }

  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }

.preview-container {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
    height: 400px;
  }

.file-container {
    display: grid;
    place-items: center;
    grid-template-columns: 1fr;
    width: 200px;
    color: white;
}

.file-container img {
    width: 100%;
    
}

hr {
    background-color: #ffa230;
    border: none;
    content: "";
    height: 1px;
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
    transform-origin: center left;
    width: 8rem;
}

#homepage-welcome {
    font-family: "Montserrat", "Quicksand", sans-serif;
    letter-spacing: 0.2em;
}

#homepage-description {
    font-style: italic;
}

.to-signup-btn {
    background-color: #fff;
    border-radius: 290486px;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
    color: #9013fe;
    display: inline-block;
    font-size: 0.875rem;
    line-height: 1;
    padding: 1.25em 2em;
    text-shadow: none;
    transition-property: box-shadow, transform;
    user-select: none;
    vertical-align: top;
    white-space: nowrap;
    will-change: box-shadow, transform; 
    font-family: "Montserrat", "Quicksand", sans-serif;
    letter-spacing: 0.3em;
    text-transform: uppercase;
    white-space: nowrap;
    margin-top: 15px;
}

.to-signup-btn:hover {
    box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.2);
    transform: scale(1.02) translateY(-4px);
    color: #ffa230;
}

to-signup-btn:active {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
    transform: scale(0.98) translateY(-2px);
}